<!-- In your 'about.html' file in the 'templates/appointment/' directory -->
{% extends 'base.html' %}

{% block content %}
  <h2 style="color: #9900FF;">About Alhamo Clinic</h2>
  <br><br><br><br>
  <p>Welcome to <strong style="color: #330099;">Alhamo Clinic</strong>, your premier destination for quality dental care in <em>Cluj-Napoca</em>!</p>
  <br><br>
  <h3 style="color: #3CF3B6;">Our Story</h3>
  <p>Established over a decade ago, <strong style="color: #330099;">Alhamo Clinic</strong> has been providing top-notch dental services with a commitment to excellence.</p>
  <br><br>
  <h3 style="color: #3CF3B6;">Meet Our Leading Doctor</h3>
  <p>
    <strong style="color: #330099;">Dr. Noor Ali Alhamo</strong> - With a decade of experience, Dr. Alhamo is dedicated to delivering the best care to our patients, ensuring healthy smiles and satisfaction.
  </p>
  <br><br>
  <h3 style="color: #3CF3B6;">Our Services</h3>
  <ul style="color: #336699;">
    <li>Dental treatment for cavities</li>
    <br>
    <li>Orthodontics</li>
    <br>
    <li>Installation of artificial teeth</li>
    <!-- Add more services as needed -->
  </ul>
  <br><br>
  <h3 style="color: #3CF3B6;">Our Goal</h3>
  <p>
    At <strong style="color: #330099;">Alhamo Clinic</strong>, our goal is to provide exceptional care, ensuring our clients leave with strong teeth and a confident smile. We prioritize your well-being and satisfaction.
  </p>
  <p >
    Explore our website to learn more about the services we offer and to make an appointment.
  </p>
{% endblock %}
